DiaMH/DiaMH Node-RED/cloud.json
[{"id":"c2845047.0dcb4","type":"function","z":"8fae5879.7ce068","name":"Get Current State","func":"node.log(msg.payload)\nvar status=context.global.get('status')||0\nvar discard=context.global.get('discard')||0\nnode.log('Current cloud status: '+status.toString())\nmsg['stat'] = status\nmsg['discard'] = discard\nreturn msg","outputs":1,"noerr":0,"x":305,"y":106.19996643066406,"wires":[["d6e05ee2.6b537"]]},{"id":"984d6183.da74d","type":"function","z":"8fae5879.7ce068","name":"Prepare Dose","func":"var ts = (new Date).getTime()\nmsg.payload = \"{\\\"insuline\\\" : 1, \\\"timestamp\\\": \"+ts+\"}\"\ncontext.global.set('discard', 5)\ncontext.global.set('last', [])\ncontext.global.set('count', 0)\nreturn msg","outputs":"1","noerr":0,"x":1555,"y":186.19996643066406,"wires":[["5850bd18.790254"]]},{"id":"76c08d45.00c634","type":"function","z":"8fae5879.7ce068","name":"Critical > 15 - Problematic","func":"msg.payload= \"{\\\"alarm\\\" : 1}\"\ncontext.global.set('status', 2)\ncontext.global.set('last', [])\ncontext.global.set('count', 0)\ncontext.global.set('discard', 5)\nnode.log('next cloud status: 2')\nreturn msg","outputs":"1","noerr":0,"x":1305,"y":246.19996643066406,"wires":[["5850bd18.790254"]]},{"id":"c8ab8de2.b4d91","type":"function","z":"8fae5879.7ce068","name":"restore  global vars","func":"node.log(\"Restoring cloud defaults\")\ncontext.global.set(\"erogated\", 0)\ncontext.global.set(\"last\",[])\ncontext.global.set(\"count\",0)\ncontext.global.set(\"treshold\", 160)\ncontext.global.set(\"status\", 0)\ncontext.global.set('discard', 0)\n","outputs":1,"noerr":0,"x":483.1000061035156,"y":757.5999908447266,"wires":[[]]},{"id":"1b9ee39b.27badc","type":"switch","z":"8fae5879.7ce068","name":"Select Next State","property":"critical","propertyType":"msg","rules":[{"t":"lt","v":"4","vt":"num"},{"t":"btwn","v":"4","vt":"num","v2":"15","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1060,"y":179.19996643066406,"wires":[["dd7498c4.644458"],["a98a7346.b7d11"],["76c08d45.00c634","984d6183.da74d"]]},{"id":"2186e4fc.d6961c","type":"inject","z":"8fae5879.7ce068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":268.1000061035156,"y":760.7999420166016,"wires":[["c8ab8de2.b4d91"]]},{"id":"d6e05ee2.6b537","type":"switch","z":"8fae5879.7ce068","name":"Switch Current State","property":"stat","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":617,"y":66.19996643066406,"wires":[["b7ccc3f4.00135"],["a419518e.c5984"],["a419518e.c5984"]]},{"id":"b7ccc3f4.00135","type":"function","z":"8fae5879.7ce068","name":" Count critical values","func":"var last = context.global.get('last')||[]\nvar count = context.global.get('count') || 0;\nvar treshold = context.global.get('treshold')||160;\nlast[count] = msg.payload\ncount += 1;\ncount=count%20;\ncontext.global.set('count',count);\ncontext.global.set('last', last);\ncritical =  0;\nlast.forEach(function (x) {if(x>treshold) critical++;})\nnode.log(\"Array length\"+last.length)\nnode.log(\"Current element: \"+last[count-1])\nnode.log(\"critical: \"+critical)\nmsg.critical=critical\nreturn msg;","outputs":1,"noerr":0,"x":869,"y":41.19996643066406,"wires":[["1b9ee39b.27badc"]]},{"id":"a419518e.c5984","type":"function","z":"8fae5879.7ce068","name":"MoreInsuline / Alarm  and get Number of Element to Discard ","func":"var count = context.global.get('count') || 0;\nvar discard = context.global.get('discard')||0\nmsg.count=count\nmsg.discard=discard\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":173.19996643066406,"wires":[["7901a316.6af30c"]]},{"id":"7901a316.6af30c","type":"switch","z":"8fae5879.7ce068","name":"Discard == 0 ?","property":"discard","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":742,"y":342.19996643066406,"wires":[["db3c7741.61c378"],["b10025c6.ab9c88"]]},{"id":"b10025c6.ab9c88","type":"function","z":"8fae5879.7ce068","name":"YES => Drop Value","func":"var discard = msg.discard;\ndiscard = discard - 1;\nnode.log('Discarding value, '+discard+' left')\ncontext.global.set('discard', discard)\nreturn msg;","outputs":1,"noerr":0,"x":949,"y":371.19996643066406,"wires":[[]]},{"id":"db3c7741.61c378","type":"function","z":"8fae5879.7ce068","name":"NO => Count critical values","func":"var count = msg.count\nvar last = context.global.get('last')\nvar treshold = context.global.get('treshold')||160;\nlast[count] = msg.payload\ncount += 1;\ncritical =  0;\nlast.forEach(function (x) {if(x>treshold) critical++;})\nnode.log(\"Array length\"+last.length)\nnode.log(\"Current element: \"+last[count-1])\nnode.log(\"critical: \"+critical)\nmsg.critical=critical\ncontext.global.set('count',count);\ncontext.global.set('last', last);\nnode.log('msg.stat: '+msg.stat)\nif(count>=20) {\n    return msg;\n}","outputs":1,"noerr":0,"x":969,"y":311.19996643066406,"wires":[["1b9ee39b.27badc"]]},{"id":"5850bd18.790254","type":"delay","z":"8fae5879.7ce068","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1663,"y":394.19996643066406,"wires":[["7d2b9f4a.5edb6"]]},{"id":"dd7498c4.644458","type":"function","z":"8fae5879.7ce068","name":"Critical < 4 - Normal","func":"context.global.set('status', 0)\nnode.log('next cloud status: 0')\nif(msg.stat !== 0) {\n    context.global.set('count', 0)\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1259,"y":75.19996643066406,"wires":[["67888f46.a25b7"]]},{"id":"a98a7346.b7d11","type":"function","z":"8fae5879.7ce068","name":"4 <= Critical <= 15 - MoreInsulin","func":"node.log('next cloud status: 1')\nnode.log('msg.stat: '+msg.stat.toString())\ncontext.global.set(\"status\", 1)\nif(msg.stat != 2) {\n    return msg;\n} else{\n    return [msg, {payload:\"off\"}]\n}","outputs":"2","noerr":0,"x":1317,"y":155.19996643066406,"wires":[["984d6183.da74d"],["67888f46.a25b7"]]},{"id":"67888f46.a25b7","type":"function","z":"8fae5879.7ce068","name":"Alarm (Problematic) Off","func":"node.log(\"Turning off alarm\")\nmsg.payload= \"{\\\"alarm\\\" : 0}\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1639.9000244140625,"y":106.39997863769531,"wires":[["5850bd18.790254"]]},{"id":"98a74864.834468","type":"switch","z":"8fae5879.7ce068","name":"pass only errors","property":"payload.error","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1113,"y":880.1999664306641,"wires":[["e638634a.ac861"]]},{"id":"e638634a.ac861","type":"json","z":"8fae5879.7ce068","name":"","property":"payload","action":"","pretty":false,"x":1293,"y":920.1999664306641,"wires":[[]]},{"id":"4e682d86.724344","type":"comment","z":"8fae5879.7ce068","name":"Executed once every 20 values I==TOT","info":"","x":970,"y":263.19996643066406,"wires":[]},{"id":"1c382811.160b18","type":"tcp in","z":"8fae5879.7ce068","name":"","server":"server","host":"","port":"2696","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":250,"y":660,"wires":[["c8ab8de2.b4d91"]]},{"id":"98425159.f284c","type":"tcp in","z":"8fae5879.7ce068","name":"","server":"server","host":"","port":"2693","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":80,"y":180,"wires":[["c2845047.0dcb4"]]},{"id":"71086571.8568cc","type":"mqtt in","z":"8fae5879.7ce068","name":"","topic":"diamh/cloud/reset","qos":"2","broker":"77f5cb1c.ef49d4","x":250,"y":560,"wires":[["c8ab8de2.b4d91"]]},{"id":"7d2b9f4a.5edb6","type":"mqtt out","z":"8fae5879.7ce068","name":"","topic":"diamh/client-id/phone_command","qos":"","retain":"","broker":"77f5cb1c.ef49d4","x":1940,"y":340,"wires":[]},{"id":"2c3cf8cd.1e2b18","type":"mqtt in","z":"8fae5879.7ce068","name":"Receive glucose readings","topic":"diamh/client-id/glucose_lv","qos":"2","broker":"77f5cb1c.ef49d4","x":110,"y":40,"wires":[["c2845047.0dcb4"]]},{"id":"77f5cb1c.ef49d4","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]