DiaMH/DiaMH Node-RED/control.json
[{"id":"798acbef.89e4b4","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":180,"wires":[["8ab5860c.068ad8"]]},{"id":"2f78e845.c840f8","type":"function","z":"39624027.a7104","name":"set pattern","func":"com =\"{\\\"filename\\\": \\\"\"+msg.payload+\"\\\"}\"\nnode.log(com)\nmsg.payload=com\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":262.6000289916992,"wires":[[]]},{"id":"8ab5860c.068ad8","type":"function","z":"39624027.a7104","name":"sensor switch","func":"com=\"{\\\"ctrl\\\" : \\\"\"+msg.payload+\"\\\"}\"\n\nnode.log(com)\nmsg.payload=com\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[[]]},{"id":"1bc8357c.940cbb","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":143,"y":99.00000095367432,"wires":[["8ab5860c.068ad8"]]},{"id":"212b2d64.00d2f2","type":"inject","z":"39624027.a7104","name":"","topic":"","payload":"problematic.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":320,"wires":[["2f78e845.c840f8"]]},{"id":"b903138f.9fb1","type":"inject","z":"39624027.a7104","name":"reset cloud","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":573.0000610351562,"y":108.80000400543213,"wires":[["d840f619.6cbbf8"]]},{"id":"a234d40e.565ad8","type":"inject","z":"39624027.a7104","name":"reset pump","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":600,"y":200,"wires":[["98e32c2c.bba92"]]},{"id":"d840f619.6cbbf8","type":"tcp out","z":"39624027.a7104","host":"127.0.0.1","port":"2696","beserver":"client","base64":false,"end":false,"name":"","x":790,"y":120,"wires":[]},{"id":"98e32c2c.bba92","type":"tcp out","z":"39624027.a7104","host":"127.0.0.1","port":"2697","beserver":"client","base64":false,"end":false,"name":"","x":840,"y":200,"wires":[]}]