DiaMH/DiaMH Node-RED/pump.json
[{"id":"77dbc165.917f1","type":"function","z":"b9990900.5608c8","name":"reset pump","func":"node.log(\"Restoring pump\")\ncontext.global.set(\"currDose\", 0)\ncontext.global.set(\"pwr\", 1)\ncontext.global.set(\"lastTs\", 0)\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[[]]},{"id":"38a80ee9.bc85f2","type":"comment","z":"b9990900.5608c8","name":"README","info":"Reset before starting mobile app,\notherwise the pump will not reply to th eping\nand the app will show a \"Failed connection\"\nmessage.","x":225.10000610351562,"y":315.20001220703125,"wires":[]},{"id":"932dea2f.9f4b18","type":"function","z":"b9990900.5608c8","name":"change dose","func":"if(context.global.get(\"pwr\") == 1) {\n    var currDose = context.global.get('currDose') || 0\n    node.log(\"INSULINE PUMP: received\"+msg.payload.ins,+\" timestamp \"+msg.payload.ts);\n    var lastTs = context.global.get(\"lastTs\")||0\n    if(lastTs == 0 || msg.payload.ts != lastTs) {\n        currDose += msg.payload.ins\n        context.global.set(\"currDose\", currDose)\n        context.global.set(\"lastTs\", msg.payload.ts)\n    }\n    msg.payload=currDose.toString()+'\\n'\n    return msg;\n}","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["1a54dd23.d90f93"]]},{"id":"58e6420.885e2c","type":"tcp in","z":"b9990900.5608c8","name":"","server":"server","host":"","port":"2692","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":75.10000610351562,"y":91.60000610351562,"wires":[["c8d8e572.672298","735f5de5.9f0d54"]]},{"id":"7fbe9fd.04d626","type":"tcp out","z":"b9990900.5608c8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":850,"y":200,"wires":[]},{"id":"1a54dd23.d90f93","type":"function","z":"b9990900.5608c8","name":"","func":"node.log(\"Replying \"+msg.payload)\nnode.log(\"type :\"+typeof msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["7fbe9fd.04d626"]]},{"id":"c8d8e572.672298","type":"debug","z":"b9990900.5608c8","name":"","active":true,"console":"true","complete":"payload","x":187.10000610351562,"y":32.38750457763672,"wires":[]},{"id":"735f5de5.9f0d54","type":"json","z":"b9990900.5608c8","name":"","x":190,"y":200,"wires":[["bd96b210.72e72"]]},{"id":"bd96b210.72e72","type":"switch","z":"b9990900.5608c8","name":"","property":"payload.ins","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":330,"y":220,"wires":[["60153b8f.6de084"],["c79a1fac.29835"]]},{"id":"c79a1fac.29835","type":"function","z":"b9990900.5608c8","name":"reply to ping","func":"node.log(\"received ping\")\nnode.log(context.global.get(\"pwr\"))\nif(context.global.get(\"pwr\") == 1) {\n    node.log(\"replying ping\")\n    msg.payload=\"{\\\"pong\\\" : 1}\\n\"\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["7fbe9fd.04d626"]]},{"id":"60153b8f.6de084","type":"delay","z":"b9990900.5608c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":160,"wires":[["932dea2f.9f4b18"]]},{"id":"961570c5.b8a93","type":"tcp in","z":"b9990900.5608c8","name":"","server":"server","host":"","port":"2697","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":480,"y":440,"wires":[["77dbc165.917f1"]]},{"id":"418e542b.562b3c","type":"mqtt in","z":"b9990900.5608c8","name":"","topic":"diamh/client-id/pump_cmd/reset","qos":"2","broker":"77f5cb1c.ef49d4","x":380,"y":500,"wires":[["77dbc165.917f1"]]},{"id":"77f5cb1c.ef49d4","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]