DiaMH/DiaMH Node-RED/sensor.json
[{"id":"421a988f.e829e8","type":"mqtt in","z":"6e3bcaba.46df64","name":"","topic":"diamh/sensor/start","qos":"2","broker":"77f5cb1c.ef49d4","x":190,"y":180,"wires":[["9c001570.be32a8"]]},{"id":"9c001570.be32a8","type":"json","z":"6e3bcaba.46df64","name":"Covert JSON String to JSON Object","property":"payload","action":"","pretty":false,"x":390.0999755859375,"y":78.20001220703125,"wires":[["8fb05e7e.005fa"]]},{"id":"8fb05e7e.005fa","type":"function","z":"6e3bcaba.46df64","name":"Generate value","func":"var max_tresh = 320\nvar min_tresh = 90\nvar val = -1\n\nif(msg.payload['kind'] == 'over') {\n    node.log('Sending over')\n    val = Math.floor(Math.random() * (max_tresh - msg.payload.treshold+1)) + msg.payload.treshold;\n}\nelse {\n    node.log(\"Sending under\")\n    val = Math.floor(Math.random() * (msg.payload.treshold - min_tresh+1)) + min_tresh;\n}\n    \n\nmsg.payload=val.toString()+'\\n'\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["a8050de5.291f4","28f32184.2ff55e"]]},{"id":"a8050de5.291f4","type":"tcp out","z":"6e3bcaba.46df64","host":"","port":"2691","beserver":"server","base64":false,"end":false,"name":"","x":940,"y":200,"wires":[]},{"id":"28f32184.2ff55e","type":"debug","z":"6e3bcaba.46df64","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":940,"y":340,"wires":[]},{"id":"77f5cb1c.ef49d4","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]